Writable:
  LogLevel: INFO
  InsecureSecrets:
    mqtt:
      SecretName: mqtt
      SecretData:
        username: ""
        password: ""
        cacert: ""
        clientcert: ""
        clientkey: ""
Service:
  Host: localhost
  Port: 59882
  StartupMsg: "This is the Core Command Microservice"
  SecurityOptions:
    Mode: ""
    OpenZitiController: "openziti:1280"
    OpenZitiServiceName: "edgex.core-command"

Clients:
  core-metadata:
    Protocol: http
    Host: localhost
    Port: 59881
    SecurityOptions:
      Mode: "zerotrust"
      OpenZitiController: "openziti:1280"

ExternalMQTT:
  Enabled: false
  Url: "tcp://localhost:1883"
  ClientId: ex-core-command
  ConnectTimeout: 5s
  AutoReconnect: true
  KeepAlive: 10
  QoS: 0
  Retain: true
  SkipCertVerify: false
  SecretName: mqtt
  AuthMode: none
  Topics:
    CommandRequestTopic: edgex/command/request/#             # for subscribing to 3rd party command requests
    CommandResponseTopicPrefix: edgex/command/response       # for publishing responses back to 3rd party systems /<device-name>/<command-name>/<method> will be added to this publish topic prefix
    CommandQueryRequestTopic: edgex/commandquery/request/#   # for subscribing to 3rd party command query request
    CommandQueryResponseTopic: edgex/commandquery/response   # for publishing responses back to 3rd party systems

MessageBus:
  Optional:
    ClientId: core-command


