[Writable]
LogLevel = 'INFO'

[Service]
BootTimeout = 30000
CheckInterval = '10s'
Host = 'localhost'
Port = 48082
Protocol = 'http'
MaxResultCount = 50000
StartupMsg = 'This is the Core Command Microservice'
Timeout = 45000

[Registry]
Host = 'localhost'
Port = 8500
Type = 'consul'

# Remote and file logging disabled so only stdout logging is used
[Logging]
EnableRemote = false
File = ''

[Clients]
  [Clients.Metadata]
  Protocol = 'http'
  Host = 'localhost'
  Port = 48081

  [Clients.Logging]
  Protocol = 'http'
  Host = 'localhost'
  Port = 48061

[Databases]
  [Databases.Primary]
  Host = 'localhost'
  Name = 'metadata'
  Password = 'password'
  Username = 'meta'
  Port = 6379
  Timeout = 5000
  Type = 'redisdb'

[SecretStore]
Host = 'localhost'
Port = 8200
# Use the core-meta data secrets due to core-command using core-meta-data's database for persistance.
Path = '/v1/secret/edgex/metadata/'
Protocol = 'https'
RootCaCertPath = '/vault/config/pki/EdgeXFoundryCA/EdgeXFoundryCA.pem'
ServerName = 'localhost'
TokenFile = '/vault/config/assets/resp-init.json'
# Number of attemtps to retry retrieving secrets before failing to start the service.
AdditionalRetryAttempts = 10
# Amount of time to wait before attempting another retry
RetryWaitPeriod = "1s"
  [SecretStore.Authentication]
  AuthType = 'X-Vault-Token'

