.idea/
vendor
*.exe
glide.lock
*.DS_Store

# binary files
cmd/core-command/core-command
cmd/core-data/core-data
cmd/core-metadata/core-metadata
cmd/export-client/export-client
cmd/export-distro/export-distro
cmd/support-logging/support-logging

# log dirs
cmd/core-command/logs/
cmd/core-data/logs/
cmd/core-metadata/logs/
