MaxEventSize: 25000 # Defines the maximum event size in kilobytes
Writable:
  LogLevel: "INFO"
  PersistData: true
  Telemetry:
    Metrics: # All service's metric names must be present in this list.
      EventsPersisted: false
      ReadingsPersisted: false
#    Tags: # Contains the service level tags to be attached to all the service's metrics
    ##    Gateway="my-iot-gateway" # Tag must be added here or via Consul Env Override can only change existing value, not added new ones.
Service:
  Port: 59880
  Host: "localhost"
  StartupMsg: "This is the Core Data Microservice"
  SecurityOptions:
    Mode: "zerotrust"
    OpenZitiController: "openziti:1280"
    OpenZitiServiceName: "edgex.core-data"

MessageBus:
  Optional:
    ClientId: "core-data"

Database:
  Name: "coredata"

Retention:
  Enabled: false
  Interval: 30s    # Purging interval defines when the database should be rid of readings above the high watermark.
  MaxCap: 10000    # The maximum capacity defines where the high watermark of readings should be detected for purging the amount of the reading to the minimum capacity.
  MinCap: 8000     # The minimum capacity defines where the total count of readings should be returned to during purging.
