[Writable]
DeviceUpdateLastConnected = false
MetaDataCheck = false
PersistData = true
ServiceUpdateLastConnected = false
ValidateCheck = false
LogLevel = 'INFO'
ChecksumAlgo = 'xxHash'

[Service]
BootTimeout = 30000
ClientMonitor = 15000
CheckInterval = '10s'
Host = 'localhost'
Port = 48080
Protocol = 'http'
MaxResultCount = 50000
StartupMsg = 'This is the Core Data Microservice'
Timeout = 5000

[Registry]
Host = 'localhost'
Port = 8500
Type = 'consul'

# Remote and file logging disabled so only stdout logging is used
[Logging]
EnableRemote = false
File = ''

[Clients]
  [Clients.Metadata]
  Protocol = 'http'
  Host = 'localhost'
  Port = 48081

  [Clients.Logging]
  Protocol = 'http'
  Host = 'localhost'
  Port = 48061

[Databases]
  [Databases.Primary]
  Host = 'localhost'
  Name = 'coredata'
  # Temporarily commented out. Will be pulled back in with secure Redis PR.
  # Password = 'password'
  # Username = 'core'
  Password = ''
  Username = ''
  Port = 6379
  Timeout = 5000
  Type = 'redisdb'

[MessageQueue]
Protocol = 'tcp'
Host = '*'
Port = 5563
Type = 'zero'
Topic = 'events'

[SecretStore]
Host = 'localhost'
Port = 8200
Path = '/v1/secret/edgex/coredata/'
Protocol = 'https'
RootCaCertPath = '/vault/config/pki/EdgeXFoundryCA/EdgeXFoundryCA.pem'
ServerName = 'localhost'
TokenFile = '/vault/config/assets/resp-init.json'
# Number of attemtps to retry retrieving secrets before failing to start the service.
AdditionalRetryAttempts = 10
# Amount of time to wait before attempting another retry
RetryWaitPeriod = "1s"
  [SecretStore.Authentication]
  AuthType = 'X-Vault-Token'

[Startup]
Duration = 30
Interval = 1
