[Writable]
Persistence = 'database'
LogLevel = 'INFO'

[Service]
BootTimeout = 30000
ClientMonitor = 15000
CheckInterval = '10s'
Host = 'localhost'
Port = 48061
Protocol = 'http'
MaxResultCount = 50000
StartupMsg = 'This is the Support Logging Microservice'
Timeout = 5000

[Registry]
Host = 'localhost'
Port = 8500
Type = 'consul'

[Logging]
File = './logs/edgex-support-logging.log'

[Databases]
  [Databases.Primary]
  Host = 'localhost'
  Name = 'logging'
  Password = ''
  Port = 27017
  Username = ''
  Timeout = 5000
  Type = 'mongodb'

[SecretStore]
Host = 'localhost'
Port = 8200
Path = '/v1/secrets/edgex/support-logging/'
Protocol = 'http'
  [SecretStore.Authentication]
  AuthType = 'X-Vault-Token'
  AuthToken = 'edgex'

[Startup]
Duration = 30
Interval = 1
