[Writable]
Persistence = 'file'
LogLevel = 'INFO'

[Service]
BootTimeout = 30000
ClientMonitor = 15000
CheckInterval = '10s'
Host = 'localhost'
Port = 48061
Protocol = 'http'
MaxResultCount = 50000
StartupMsg = 'This is the Support Logging Microservice'
Timeout = 5000

[Registry]
Host = 'localhost'
Port = 8500
Type = 'consul'

# Remote and file logging disabled so only stdout logging is used
[Logging]
File = ''

[Databases]
  [Databases.Primary]
  Host = 'localhost'
  Name = 'logging'
  Password = 'password'
  Port = 27017
  Username = 'logging'
  Timeout = 5000
  Type = 'mongodb'

[SecretStore]
Host = 'localhost'
Port = 8200
Path = '/v1/secret/edgex/logging/'
Protocol = 'https'
RootCaCertPath = '/vault/config/pki/EdgeXFoundryCA/EdgeXFoundryCA.pem'
ServerName = 'localhost'
TokenFile = '/vault/config/assets/resp-init.json'
# Number of attemtps to retry retrieving secrets before failing to start the service.
AdditionalRetryAttempts = 10
# Amount of time to wait before attempting another retry
RetryWaitPeriod = "1s"
  [SecretStore.Authentication]
  AuthType = 'X-Vault-Token'

[Startup]
Duration = 30
Interval = 1
