Hostname = 'localhost'
Port = 48061
Persistence = 'mongodb'
LoggingFile = './logs/support-logging.log'
MongoDB = 'logging'
MongoCollection = 'logEntry'
MongoURL = 'localhost'
MongoPort = 27017
MongoConnectTimeout = 5000
SocketTimeout = 5000
MongoUsername = 'logging'
MongoPassword = 'password'
CheckInterval = '10s'
ConsulHost = 'localhost'
ConsulPort = 8500
ConsulProfilesActive = 'go'